/* colors */
/* main settings */
body {
  -webkit-cursor: url(../img/cursor.png), default;
  -moz-cursor: url(../img/cursor.png), default;
  -ms-cursor: url(../img/cursor.png), default;
  -o-cursor: url(../img/cursor.png), default;
  cursor: url(../img/cursor.png), default;
  background-image: url(../img/backgrownd.jpg);
  background-repeat: none;
  background-size: cover;
  width: 100vw;
}
a {
  text-decoration: none;
  color: white;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #98b4af;
}
button {
  display: block;
  text-decoration: none;
  background-image: url(../img/i.jpg);
  background-size: cover;
}
button:focus {
  text-decoration: none;
  border: none;
}
section {
  min-height: 100vh;
  background-repeat: none;
  background-size: cover;
}
canvas {
  position: absolute;
  left: 0;
  z-index: 2;
}
.header-section {
  text-align: center;
  margin-top: 7%;
  font-size: 50px;
  color: 0000ff;
  font-family: Raleway;
}
.under-header {
  font-size: 20px;
}
.numBox {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  background-color: yellow;
  margin: 3px;
  border: 1px solid black;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  -ms-border-radius: 14px;
  -o-border-radius: 14px;
  border-radius: 14px;
  z-index: 40;
  cursor: move;
}
.dropBox {
  position: absolute;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: none;
  z-index: 20;
  background-color: yellow;
  color: black;
  font-size: 25px;
  text-align: center;
  padding: 5px;
}
.dBox-1 {
  left: 50px;
  margin-top: 50px;
}
.dBox-2 {
  left: 135px;
  margin-top: 50px;
}
.dBox-3 {
  left: 220px;
  margin-top: 50px;
}
/* site */
.slider-sec {
  background-image: url(../img/photo.jpg);
  weight: 100vh;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
.slider-sec .row {
  text-align: center;
  margin: 0 8%;
}
.slider-sec .row .logo {
  display: inline;
  margin-top: 7%;
  font-family: Raleway, Sans-serif;
  font-size: 27px;
  font-weight: 400;
  color: #00005f;
}
.slider-sec .row .logo img {
  display: inline-block;
  height: 50px;
  width: 50px;
}
.slider-sec .header-menu {
  color: #fff;
  font-size: 14px;
}
.slider-sec .header-menu div {
  text-align: center;
}
.slider-sec .main-text {
  padding: 8%;
  text-align: center;
  font-family: Raleway, Sans-serif;
  color: #00005f;
}
.slider-sec .main-text h2 {
  font-size: 36px;
}
.slider-sec .main-text .header-title {
  font-weight: 800;
  font-size: 50px;
}
.slider-sec .main-text .header-description {
  font-size: 16px;
}
.slider-sec .main-text .btn-header {
  display: inline-block;
  margin-top: 2%;
  padding: 12px 30px;
  background-color: #998675;
  border: none;
  border-bottom: 3px solid #736357;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.slider-sec .main-text .btn-header:hover,
.slider-sec .main-text .btn-header:focus {
  text-decoration: none;
}
/* End of section */
.servises {
  height: 100vh;
  margin-top: 1%;
  color: #808080;
  text-align: center;
}
.servises-header {
  font-size: 50px;
  text-align: center;
  margin: 2%;
  margin-bottom: 2%;
}
.servises .box {
  display: inline-block;
  margin: 2%;
  height: 220px;
  width: 220px;
  border: 3px solid #000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  padding-top: 70px;
  color: #4c3326;
}
.servises .box:hover {
  -webkit-animation: box 1s ease 0s 1 normal forwards;
  -moz-animation: box 1s ease 0s 1 normal forwards;
  -ms-animation: box 1s ease 0s 1 normal forwards;
  -o-animation: box 1s ease 0s 1 normal forwards;
  animation: box 1s ease 0s 1 normal forwards;
}
.servises .box-1 {
  background-image: url(..//img/palette.jpg);
  background-position: center;
  background-size: cover;
}
.servises .box-2 {
  background-image: url(..//img/matrix.jpg);
  background-position: center;
  background-size: cover;
}
.servises .box-4 {
  background-image: url(..//img/logo.png);
  background-position: center;
  background-size: cover;
  color: white;
}
#design {
  text-align: center;
}
#design .fa {
  position: absolute;
  font-size: 60px;
  color: black;
  margin-top: 130px;
  z-index: 3;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
#design .fa:hover {
  color: white;
  background-color: black;
  padding: 0;
}
#design .fa-chevron-circle-right {
  right: 0;
  margin-top: -210px;
  margin-right: -22px;
}
#design .fa-chevron-circle-left {
  left: 0;
  margin-top: 140px;
  margin-left: -21px;
}
#design .site {
  display: inline-block;
  height: 300px;
  margin: 25px;
  border: 2px solid black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
#design .site-mid {
  position: absolute;
  display: inline-block;
  left: 50%;
  margin-left: -275px;
  margin-top: -75px;
  width: 550px;
  height: 450px;
  z-index: 1;
  -webkit-background-size: 550px;
}
#design .site-1 {
  background: url(..//img/browser-left.jpg);
}
#design .site-2 {
  -webkit-background-image: url(..//img/browser-center.jpg);
  -moz-background-image: url(..//img/browser-center.jpg);
  -ms-background-image: url(..//img/browser-center.jpg);
  -o-background-image: url(..//img/browser-center.jpg);
  background-image: url(..//img/browser-center.jpg);
}
#design .site-3 {
  background-size: cover;
  background-image: url(..//img/browser-right.jpg);
}
#record,
#time {
  display: block;
  height: 50px;
  width: 200px;
  border: 2px solid white;
  background-color: blue;
  color: white;
}
#worldRecord {
  display: none;
}
.btn-canvas {
  width: 150px;
  height: 80px;
  background-image: url(../img/i.png);
  background-size: cover;
  text-align: center;
  display: inline-block;
  color: blue;
  padding-top: 25px;
  z-index: 999;
}
footer {
  background-image: url(../img/photo-pre-footer.jpg);
  min-height: 70vh;
}
footer .vk-logo {
  position: relative;
  margin-top: 5vh;
  height: 70px;
  left: 50%;
  margin-left: -35px;
}
footer .footer-right a {
  text-align: center;
}
footer .footer-right a img.vk {
  display: block;
  height: 40vh;
  width: 30vw;
  margin-top: 5vh;
  position: relative;
  left: 50%;
  margin-left: -15vw;
}
footer .footer-left .number {
  margin-top: 5%;
  display: block;
  width: 34vw;
  font-size: 35px;
  position: relative;
  left: 50%;
  margin-left: -17vw;
}
footer .footer-left .form-input {
  border: none;
  display: block;
  margin: 3% 5%;
  width: 30vw;
  left: 50%;
  position: relative;
  margin-left: -15vw;
}
footer .footer-left .form-input:focus {
  border: none;
  text-decoration: none;
}
/* анимация для боксов */
@keyframes box {
  100% {
    height: 295px;
    width: 295px;
    margin: 0;
    font-size: 45px;
    padding-top: 100px;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .slider-sec .main-text h2 {
    font-size: 30px;
  }
  .slider-sec .main-text .header-title {
    font-size: 40px;
  }
  .slider-sec .main-text .header-description {
    font-size: 15px;
  }
  .header-section {
    font-size: 45px;
  }
  .servises .box {
    display: inline-block;
    margin: 2%;
    height: 150px;
    width: 150px;
    font-size: 24px;
    padding-top: 55px;
    color: #4c3326;
  }
  .servises .box:hover {
    -webkit-animation: box 1s ease 0s 0 normal forwards;
    -moz-animation: box 1s ease 0s 0 normal forwards;
    -ms-animation: box 1s ease 0s 0 normal forwards;
    -o-animation: box 1s ease 0s 0 normal forwards;
    animation: box 1s ease 0s 0 normal forwards;
  }
}
