.base-form {
  border: none;
  width: 80%;
  outline: none;
  padding: 20px 0 0 0px;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
  display: block;
  margin: auto;
}
.open {
  font-family: "open sans", sans-serif;
}
.open-bold {
  font-family: "open sans", sans-serif;
  font-weight: 600;
}
.open-regular {
  font-family: "open sans", sans-serif;
  font-weight: 400;
}
header {
  background-color: #f5f5f5;
  min-height: 100vh;
}
header container .row {
  padding: 82px 150px 20px 152px;
}
header container .row .header-logo-border {
  width: 150px;
  height: 55px;
  display: block;
  position: absolute;
  border: 2px solid #6e6e6e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header container .row .header-logo-text {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  color: #6e6e6e;
  font-size: 35px;
  text-align: center;
  max-height: 49px;
  text-height: 30px;
}
header container .row .header-logo-text span {
  color: #fd9b86;
}
header container .row .header-drop {
  width: 35px;
  height: 4px;
  background-color: #6e6e6e;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
header container .row .header-drop::before {
  content: '';
  width: 35px;
  height: 4px;
  background-color: #6e6e6e;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translate(0, 6px);
  -ms-transform: translate(0, 6px);
  -o-transform: translate(0, 6px);
  transform: translate(0, 6px);
}
header container .row .header-drop::after {
  content: '';
  width: 35px;
  height: 4px;
  background-color: #6e6e6e;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translate(0, 12px);
  -ms-transform: translate(0, 12px);
  -o-transform: translate(0, 12px);
  transform: translate(0, 12px);
}
header .head-title .row {
  color: #6e6e6e;
}
header .head-title .row .title {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  color: #6e6e6e;
  font-size: 50px;
}
header .head-title .row .title span {
  color: #fc7254;
}
header .head-title .row .title-text {
  font-size: 16px;
  text-align: center;
}
header .report-form .row form {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  background-color: #ffffff;
  width: 375px;
  height: 391px;
}
header .report-form .row form p {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #6e6e6e;
}
header .report-form .row form p span {
  color: #fc7254;
}
header .report-form .row form input {
  border: none;
  width: 80%;
  outline: none;
  padding: 20px 0 0 0px;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
  display: block;
  margin: auto;
}
header .report-form .row form textarea {
  border: none;
  width: 80%;
  outline: none;
  padding: 20px 0 0 0px;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-down: 220px;
}
header .report-form .row form .form-button {
  height: 55px;
  width: 240px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  border: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #fc7254;
  color: #ffffff;
  font-size: 16px;
}
