header{
    font-family: cursive;
    color: grey;
}
body {
	/*I'm crazy about this background!!!*/
   background-color: #aeaeae;   
}

footer {
    font-family: cursive;
    background-color: #6060ff;
}