header{
    font-family: cursive;
    color: grey;
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    opacity: 0.9;
    padding: 0;
    background-color: #aeaeae;
}
body {
	/*I'm crazy about this background!!!*/
   margin-top: 100px;
   background-color: #aeaeae;
   margin-left: 80px;
   margin-right: 80px;   
}
.box{
	background-color: #0f0;
	height: 400px;
	width: 400px;
	border: 1px solid white;
	margin: 15px 20px 10px 20px;
	padding: 20px;
	position: relative;
	left: 50%;
	margin-left: -200px;
}
footer {
    font-family: cursive;
    background-color: #6060ff;
}
a{
	color: #fff;
    text-decoration: none;
}
