.base-form {
  border: none;
  width: 80%;
  outline: none;
  padding: 20px 0 0 0px;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
  display: block;
  margin: auto;
}
.section-header {
  text-align: center;
  color: #6e6e6e;
  font-size: 50px;
  padding: 7%;
}
.section-header span {
  color: #fc7254;
}
.section-header .under-header {
  font-size: 16px;
}
.icons-box {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 263px;
  padding: 25px;
  color: #ffffff;
}
.icons-box h2 {
  font-size: 50px;
}
.icons-box p {
  font-size: 15px;
}
.icons-box button {
  height: 55px;
  width: 90%;
  margin: auto;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px;
  border: none;
  margin-top: 53px;
  background-color: #ffffff;
}
.icons-box button .btn-text {
  display: block;
  text-align: center;
  vertical-align: center;
  color: #6e6e6e;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* #plus{
				display: inline-block;
				background-color: @baseBlack;
				width: 15px;
				height: 2px;
				text-align: center;
				margin:auto;
				vertical-align: center;
				.rotate(90deg);
				.translate(-7px, 7px);
			}
			#plus::before{
				content: '';
				display: inline-block;
				background-color: @baseBlack;
				width: 2px;
				height: 15px;	
				vertical-align: center;
				
				
			} */
}
.icons-box button .btn-text span {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.icons-box button:focus {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  outline: none;
}
.open {
  font-family: "open sans", sans-serif;
}
.open-bold {
  font-family: "open sans", sans-serif;
  font-weight: 600;
}
.open-regular {
  font-family: "open sans", sans-serif;
  font-weight: 400;
}
header {
  background-image: url(../img/header-bgi.png);
  background-position: bottom;
  height: 100vh;
}
header container .row {
  padding: 82px 150px 20px 152px;
}
header container .row .header-logo-border {
  width: 150px;
  height: 55px;
  display: block;
  position: absolute;
  border: 2px solid #6e6e6e;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
header container .row .header-logo-text {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  color: #6e6e6e;
  font-size: 35px;
  text-align: center;
  max-height: 49px;
  text-height: 30px;
}
header container .row .header-logo-text span {
  color: #fd9b86;
}
header container .row .header-drop {
  width: 35px;
  height: 4px;
  background-color: #6e6e6e;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
header container .row .header-drop::before {
  content: '';
  width: 35px;
  height: 4px;
  background-color: #6e6e6e;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translate(0, 6px);
  -ms-transform: translate(0, 6px);
  -o-transform: translate(0, 6px);
  transform: translate(0, 6px);
}
header container .row .header-drop::after {
  content: '';
  width: 35px;
  height: 4px;
  background-color: #6e6e6e;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transform: translate(0, 12px);
  -ms-transform: translate(0, 12px);
  -o-transform: translate(0, 12px);
  transform: translate(0, 12px);
}
header .head-title .row {
  color: #6e6e6e;
}
header .head-title .row .title {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  color: #6e6e6e;
  font-size: 50px;
}
header .head-title .row .title span {
  color: #fc7254;
}
header .head-title .row .title-text {
  font-size: 16px;
  text-align: center;
}
header .report-form .row form {
  margin-top: -70px;
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  background-color: #ffffff;
  width: 375px;
  height: 355px;
}
header .report-form .row form p {
  font-family: "open sans", sans-serif;
  font-weight: 600;
  padding-top: 20px;
  text-align: center;
  font-size: 20px;
  color: #6e6e6e;
}
header .report-form .row form p span {
  color: #fc7254;
}
header .report-form .row form input {
  border: none;
  width: 80%;
  outline: none;
  padding: 20px 0 0 0px;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
  display: block;
  margin: auto;
}
header .report-form .row form textarea {
  border: none;
  width: 80%;
  outline: none;
  padding: 20px 0 0 0px;
  border-bottom: 1px solid #6e6e6e;
  font-size: 15px;
  display: block;
  margin: auto;
  margin-down: 220px;
}
header .report-form .row form .form-button {
  height: 55px;
  width: 240px;
  -webkit-border-radius: 70px;
  -moz-border-radius: 70px;
  -ms-border-radius: 70px;
  -o-border-radius: 70px;
  border-radius: 70px;
  border: none;
  display: block;
  margin: auto;
  margin-top: 20px;
  background-color: #fc7254;
  color: #ffffff;
  font-size: 16px;
}
.icons .koi {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 263px;
  padding: 25px;
  color: #ffffff;
  background-color: #4eb2f7;
}
.icons .koi h2 {
  font-size: 50px;
}
.icons .koi p {
  font-size: 15px;
}
.icons .koi button {
  height: 55px;
  width: 90%;
  margin: auto;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px;
  border: none;
  margin-top: 53px;
  background-color: #ffffff;
}
.icons .koi button .btn-text {
  display: block;
  text-align: center;
  vertical-align: center;
  color: #6e6e6e;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* #plus{
				display: inline-block;
				background-color: @baseBlack;
				width: 15px;
				height: 2px;
				text-align: center;
				margin:auto;
				vertical-align: center;
				.rotate(90deg);
				.translate(-7px, 7px);
			}
			#plus::before{
				content: '';
				display: inline-block;
				background-color: @baseBlack;
				width: 2px;
				height: 15px;	
				vertical-align: center;
				
				
			} */
}
.icons .koi button .btn-text span {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.icons .koi button:focus {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  outline: none;
}
.icons .koir {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 263px;
  padding: 25px;
  color: #ffffff;
  background-color: #c049f8;
}
.icons .koir h2 {
  font-size: 50px;
}
.icons .koir p {
  font-size: 15px;
}
.icons .koir button {
  height: 55px;
  width: 90%;
  margin: auto;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px;
  border: none;
  margin-top: 53px;
  background-color: #ffffff;
}
.icons .koir button .btn-text {
  display: block;
  text-align: center;
  vertical-align: center;
  color: #6e6e6e;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* #plus{
				display: inline-block;
				background-color: @baseBlack;
				width: 15px;
				height: 2px;
				text-align: center;
				margin:auto;
				vertical-align: center;
				.rotate(90deg);
				.translate(-7px, 7px);
			}
			#plus::before{
				content: '';
				display: inline-block;
				background-color: @baseBlack;
				width: 2px;
				height: 15px;	
				vertical-align: center;
				
				
			} */
}
.icons .koir button .btn-text span {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.icons .koir button:focus {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  outline: none;
}
.icons .set {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 263px;
  padding: 25px;
  color: #ffffff;
  background-color: #817eff;
}
.icons .set h2 {
  font-size: 50px;
}
.icons .set p {
  font-size: 15px;
}
.icons .set button {
  height: 55px;
  width: 90%;
  margin: auto;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px;
  border: none;
  margin-top: 53px;
  background-color: #ffffff;
}
.icons .set button .btn-text {
  display: block;
  text-align: center;
  vertical-align: center;
  color: #6e6e6e;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* #plus{
				display: inline-block;
				background-color: @baseBlack;
				width: 15px;
				height: 2px;
				text-align: center;
				margin:auto;
				vertical-align: center;
				.rotate(90deg);
				.translate(-7px, 7px);
			}
			#plus::before{
				content: '';
				display: inline-block;
				background-color: @baseBlack;
				width: 2px;
				height: 15px;	
				vertical-align: center;
				
				
			} */
}
.icons .set button .btn-text span {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.icons .set button:focus {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  outline: none;
}
.icons .lara {
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 263px;
  padding: 25px;
  color: #ffffff;
  background-color: #f74770;
}
.icons .lara h2 {
  font-size: 50px;
}
.icons .lara p {
  font-size: 15px;
}
.icons .lara button {
  height: 55px;
  width: 90%;
  margin: auto;
  -webkit-border-radius: 55px;
  -moz-border-radius: 55px;
  -ms-border-radius: 55px;
  -o-border-radius: 55px;
  border-radius: 55px;
  border: none;
  margin-top: 53px;
  background-color: #ffffff;
}
.icons .lara button .btn-text {
  display: block;
  text-align: center;
  vertical-align: center;
  color: #6e6e6e;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  /* #plus{
				display: inline-block;
				background-color: @baseBlack;
				width: 15px;
				height: 2px;
				text-align: center;
				margin:auto;
				vertical-align: center;
				.rotate(90deg);
				.translate(-7px, 7px);
			}
			#plus::before{
				content: '';
				display: inline-block;
				background-color: @baseBlack;
				width: 2px;
				height: 15px;	
				vertical-align: center;
				
				
			} */
}
.icons .lara button .btn-text span {
  display: inline-block;
  font-size: 30px;
  -webkit-transform: translate(0, 4px);
  -ms-transform: translate(0, 4px);
  -o-transform: translate(0, 4px);
  transform: translate(0, 4px);
}
.icons .lara button:focus {
  box-shadow: 0px 11px 20px 0px rgba(20, 20, 21, 0.08);
  outline: none;
}
.icons .lara .fa {
  -webkit-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
