/* colors */
.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}
.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}
/* main settings */
body{
	-webkit-cursor: url(../img/cursor.png), default;
	-moz-cursor: url(../img/cursor.png), default;
	-ms-cursor: url(../img/cursor.png), default;
	-o-cursor: url(../img/cursor.png), default;
	cursor: url(../img/cursor.png), default;
	background-image: url(../img/backgrownd.jpg);
	background-repeat: none;
	background-size: cover;
	width: 100vw;
}
a{
	text-decoration: none;
	color: white;
	&:hover, &:focus{
		text-decoration: none;
		color: #98b4af;
	}
}
button{
	display: block;
	text-decoration: none;
	background-image: url(../img/i.jpg);
	background-size: cover;
	
	&:focus{
		text-decoration: none;
		border: none;
	}
}
section{
	min-height: 100vh;
	background-repeat: none;
	background-size: cover;
	
}
canvas{
	position: absolute;
	
	left: 0;
	z-index: 2;
}
.header-section{
	text-align: center;
	margin-top: 7%;
	font-size: 50px;
	color: 0000ff;
	font-family: Raleway;
}
.under-header{
	font-size: 20px;
}


.numBox{
	font-size: 25px;
	text-align: center;
	padding: 10px;
	position: relative;
	display: inline-block;
	height: 50px;
	width: 50px;
	background-color: yellow;
	margin: 3px;
	border: 1px solid black;
	-webkit-border-radius: 14px;
	-moz-border-radius: 14px;
	-ms-border-radius: 14px;
	-o-border-radius: 14px;
	border-radius: 14px;
	z-index: 40;
	cursor: move;
}
.dropBox{
	position: absolute;
	display: inline-block;
	height: 50px;
	width: 50px;
	border: none;
	z-index: 20;
	background-color: yellow;
	color: black;
	font-size: 25px;
	text-align: center;
	padding: 5px;
}
.dBox-1{
	left: 50px;
	margin-top: 50px;
}
.dBox-2{
	left: 135px;
	margin-top: 50px;
}
.dBox-3{
	left: 220px;
	margin-top: 50px;
}

/* site */
.slider-sec {
	weight: 100vh;
	height: 100vh;
	background-position: center;
	background-size: cover;
	.row {
		text-align: center;
		
		margin: 0 8%;
		.logo{
			img{
				display: inline-block;
				height: 50px;
				width: 50px;

			}
			display: inline;
			margin-top: 7%;
			font-family: Raleway, Sans-serif;
			font-size: 27px;
			font-weight: 400;
			color: #00005f;
		}
	}
	.header-menu{
		div {
			text-align: center;
		}
		color: #fff;
		font-size: 14px;
	}
	.main-text{
		padding: 8%;
		text-align: center;
		font-family: Raleway, Sans-serif;
		color: #00005f;
		h2{
			font-size: 36px;
		}
		.header-title{
			font-weight: 800;
			font-size: 50px;
		}
		.header-description{
			font-size: 16px;
		}
		.btn-header{
			display: inline-block;
			margin-top: 2%;
			padding: 12px 30px;
			background-color: #998675;
			border: none;
			border-bottom: 3px solid #736357;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			-ms-border-radius: 3px;
			-o-border-radius: 3px;
			border-radius: 3px;
			&:hover, &:focus{
				text-decoration: none;
			}
		}
	}
} /* End of section */ 

.servises{
	height: 100vh;
	margin-top: 1%;
	color: lighten(black, 50%);
	text-align: center;
	&-header{
		font-size: 50px;
		text-align: center;
		margin: 2%;
		margin-bottom: 2%;
	}
	.box{
		display: inline-block;
		margin: 2%;
		height: 220px;
		width: 220px;
		border: 3px solid #000;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		font-style: italic;
		font-size: 30px;
		text-align: center;
		padding-top: 70px;
		color: blue;
		background-position: center;
		background-size: cover;		
		&:hover{
			-webkit-animation: box 1s ease 0s 1 normal forwards;
			-moz-animation: box 1s ease 0s 1 normal forwards;
			-ms-animation: box 1s ease 0s 1 normal forwards;
			-o-animation: box 1s ease 0s 1 normal forwards;
			animation: box 1s ease 0s 1 normal forwards;
		}
	}
	.box-1{
		background-image: url(..//img/palette.jpg);
	}
	.box-2{
		background-image: url(..//img/matrix.jpg);
	}
	.box-3{
		background-image: url(..//img/fire.jpg);
	}
	.box-4{
		background-image: url(..//img/contact.jpg);
	}
	.info-box{
		font-size: 25px;
		color: #0000ff;
	}
}
#design {
	text-align: center;
	
	.fa{
		position: absolute;
		font-size: 60px;
		color: black; 
		margin-top: 130px;
		z-index: 3;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		border-radius: 50%;
		&:hover{
			color: white;
			background-color: black;
			padding: 0;
		}
	}
	.fa-chevron-circle-right{
		right: 0;
		margin-top: -210px;
		margin-right: -22px;
	}
	.fa-chevron-circle-left{
		left: 0;
		margin-top: 140px;
		margin-left: -21px;
	}

	.site{
		display: inline-block;
		height: 300px;
		margin: 25px;
		border: 2px solid black;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-ms-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
	}
	.site-mid{
		position: absolute;
		display: inline-block;
		left: 50%;
		margin-left: -275px;
		margin-top: -75px;
		width: 550px;
		height: 450px;
		z-index: 1;
		-webkit-background-size: 550px;
	}
	.site-1{
		background: url(..//img/browser-left.jpg);	
	}
	.site-2{
		-webkit-background-image: url(..//img/browser-center.jpg);
		-moz-background-image: url(..//img/browser-center.jpg);
		-ms-background-image: url(..//img/browser-center.jpg);
		-o-background-image: url(..//img/browser-center.jpg);
		background-image: url(..//img/browser-center.jpg);
	}
	.site-3{
		background-size: cover;
		background-image: url(..//img/browser-right.jpg);
	}

}
#record, #time{
	display: block;
	height: 50px;
	width: 200px;
	border: 2px solid white;
	background-color: blue;
	color: white;
}
#worldRecord{
	display: none;
}
.btn-canvas{
	width: 150px;
	height: 80px;
	background-image: url(../img/i.png);
	background-size: cover;
	text-align: center;
	display: inline-block;
	color: blue;
	padding-top: 25px;
	z-index: 999;
}
footer{
	background-image: url(../img/photo-pre-footer.jpg);
	.vk-logo{
		position: relative;
		margin-top: 5vh;
		height: 70px;
		left: 50%;
		margin-left: -35px;
	}	
	.footer-right{
		a{
			text-align: center;
			
			img.vk{
				display: block;
				height: 40vh;
				width: 30vw;
				margin-top: 5vh;
				position: relative;
				left: 50%;
				margin-left: -15vw;
				-webkit-border-radius: 30%;
				-moz-border-radius: 30%;
				-ms-border-radius: 30%;
				-o-border-radius: 30%;
				border-radius: 30%;
			}
		}
		.vk-logo{
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			-ms-border-radius: 50%;
			-o-border-radius: 50%;
			border-radius: 50%;
		}

	}
	.footer-left{
		.number{
			margin-top: 5%;
			display: block;
			width: 34vw;
			font-size: 35px;
			position: relative;
			left: 50%;
			margin-left: -17vw;
		}
		.form-input{
			border: none;
			display: block;
			margin: 3% 5%;
			width: 30vw;
			left: 50%;
			position: relative;
			margin-left: -15vw;
			&:focus{
				border: none;
				text-decoration: none;
			}
		}
	}
	min-height: 70vh;
}
/* анимация для боксов */
@keyframes box{
	0% {}
	100% {
		height: 295px;
		width: 295px;
		margin: 0;
		font-size: 45px;
		padding-top: 100px;
	}
}
/* svg графика для всплывающего окна */
/* -------------------------------- 

Primary style

-------------------------------- */

svg {
  max-width: 100%;
}

/* -------------------------------- 

Modal Window

-------------------------------- */
.cd-modal {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  visibility: hidden;
  -webkit-transition: visibility 0s 0.6s;
  -moz-transition: visibility 0s 0.6s;
  transition: visibility 0s 0.6s;
}
.cd-modal svg {
  position: absolute;
  top: 0;
  left: 0;
}
.cd-modal svg > path {
  fill: #1f4c74;
}
.cd-modal .modal-close {
  /* 'X' icon */
  position: absolute;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  /* Force hardware acceleration*/
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
}
.no-touch .cd-modal .modal-close:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.cd-modal.modal-is-visible {
  visibility: visible;
  -webkit-transition: visibility 0s 0s;
  -moz-transition: visibility 0s 0s;
  transition: visibility 0s 0s;
}
.cd-modal.modal-is-visible .modal-close {
  visibility: visible;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}

.cd-modal-content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  padding: 3em 5% 4em;
  opacity: 0;
  -webkit-transform: translateY(50px);
  -moz-transform: translateY(50px);
  -ms-transform: translateY(50px);
  -o-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-transition: opacity 0.3s 0s, -webkit-transform 0.3s 0s;
  -moz-transition: opacity 0.3s 0s, -moz-transform 0.3s 0s;
  transition: opacity 0.3s 0s, transform 0.3s 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.cd-modal-content p {
  color: #f2f2f2;
  line-height: 1.6;
  margin: 2em 0;
}
.modal-is-visible .cd-modal-content {
  opacity: 1;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-overflow-scrolling: touch;
  -webkit-transition: opacity 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  -moz-transition: opacity 0.3s 0.3s, -moz-transform 0.3s 0.3s;
  transition: opacity 0.3s 0.3s, transform 0.3s 0.3s;
}
@media only screen and (min-width: 768px) {
  .cd-modal-content {
    padding: 3em 10% 4em;
  }
  .cd-modal-content p {
    font-size: 2.4rem;
  }
}

/* -------------------------------- 

 Cover Layer - hide main content when modal is fired

-------------------------------- */
.cd-cover-layer {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #f2f2f2;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  -moz-transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
  transition: opacity 0.3s 0.3s, visibility 0s 0.6s;
}
.cd-cover-layer.modal-is-visible {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
  -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
  transition: opacity 0.3s 0s, visibility 0s 0s;
}

/* адаптивные настройки */
@media (max-width: 768px) { 
	
}
@media (min-width: 769px) and (max-width: 992px) {

	.slider-sec .main-text h2 {
  		font-size: 30px;
	}
	.slider-sec .main-text .header-title {
	 	font-size: 40px;
	}
	.slider-sec .main-text .header-description {
		font-size: 15px;
	}
	.header-section {
		font-size: 45px;
	}
	.servises .box {
		display: inline-block;
		margin: 2%;
		height: 150px;
		width: 150px;
		font-size: 24px;
		padding-top: 55px;
		color: #4c3326;
	}
	.servises .box:hover {
		-webkit-animation: box 1s ease 0s 0 normal forwards;
		-moz-animation: box 1s ease 0s 0 normal forwards;
		-ms-animation: box 1s ease 0s 0 normal forwards;
		-o-animation: box 1s ease 0s 0 normal forwards;
		animation: box 1s ease 0s 0 normal forwards;
	}
}
@media (min-width: 993px) and (max-width: 1200px) { 

}
@media (min-width: 1201px) { 

}